@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	font: normal 100%/1.5 Raleway,Arial,sans-serif;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	background-color: #f8f8f8;
}

.img-flex {
	display: block;
	width: 100%;
}

.current {
	border-bottom: solid 2px #fdd500;
	color: #1f1f1f;
}

.nav {
	margin: 0;
	padding: 0;

	list-style-type: none;
}

.nav > li {
	display: inline-block;
	margin: 0 0.4em;
}

li > a {
	text-decoration: none;
}

.nav-top {
	font-size: 1.25rem;
}