<header class="masthead island" id="myHeader">

  	<div class="grid grid-max-width grid-middle">

	    <div class="nav-logo unit unit-s-1-2 unit-m-1-2 unit-l-1-3">
	     	<h1 class="peta push-0"><a href="{{site.baseurl}}/index">Agata</a></h1>
	    </div>	


	    <div class="menu-mobile unit unit-s-1-2 unit-m-1-2 unit-l-2-3 push-0">

		    <div class="menu-mobile__button">    
		      	<a href="#menu-mobile-box" class="button" role="button">Menu</a>
		    </div>


			<div class="menu-mobile-box" id="menu-mobile-box">
				<nav class="menu-mobile-box__content">
					<a href="#!" class="close"></a> 
					<ul class="navigation navigation-mobile">
				        <li class="navigation__item tera"><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">Strona główna</a></li>
				        <li class="navigation__item tera"><a href="{{site.baseurl}}/blog/" class="{% if page.url contains '/blog' or page.url contains '/post'%}current{% endif %}">Blog</a></li>
				        <li class="navigation__item tera"><a href="{{site.baseurl}}/about/" class="{% if page.url contains '/about' %}current{% endif %}">O mnie</a></li>
				        <li class="navigation__item tera"><a href="{{site.baseurl}}/contact/" class="{% if page.url contains '/contact' %}current{% endif %}">Kontakt</a></li>
				    </ul>
				</nav>
			</div>

		</div>

		<div class="menu-desktop unit unit-l-2-3">

			<nav class="menu-desktop-box">    
				<ul class="navigation navigation-desktop">
				  	<li class="navigation__item list-group-item-inline tera"><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">Strona główna</a></li>
				  	<li class="navigation__item list-group-item-inline tera"><a href="{{site.baseurl}}/blog/" class="{% if page.url contains '/blog' or page.url contains '/post'%}current{% endif %}">Blog</a></li>
				  	<li class="navigation__item list-group-item-inline tera"><a href="{{site.baseurl}}/about/" class="{% if page.url contains '/about' %}current{% endif %}">O mnie</a></li>
				  	<li class="navigation__item list-group-item-inline push-0 tera"><a href="{{site.baseurl}}/contact/" class="{% if page.url contains '/contact' %}current{% endif %}">Kontakt</a></li>
				</ul>
		    </nav>

		</div>

</header>


