<!DOCTYPE html>
<html lang="pl-pl">
<head>
	<meta charset="utf-8">
	<title>Moja testowa strona</title>
	<meta name="handheldfrindly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/common.css">
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/typography.css">
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/flexible-grids.css">
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/list-group.css">
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/buttons.css">
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/media-object.css">
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/embed.css">
</head>
<body>

	{% include header.html %}

	{{content}}

	<footer>
		<p>© 2018 Agata M.</p>
	</footer>
</body>
</html>